In [1]:
import pandas as pd
import numpy as np
import datetime
from matplotlib.ticker import FuncFormatter
import matplotlib.pyplot as plt
import warnings
import math as ma
warnings.filterwarnings('ignore')
from sklearn import preprocessing

In [16]:
xls = open('/content/drive/MyDrive/KPMG_VI_New_raw_data_update_final(1).xlsx')

xls = pd.ExcelFile('/content/drive/MyDrive/KPMG_VI_New_raw_data_update_final(1).xlsx')
df = pd.read_excel(xls,'CustomerDemographic')

In [17]:
df.columns

Index(['Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only. ',
       'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5',
       'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 9', 'Unnamed: 10',
       'Unnamed: 11', 'Unnamed: 12', 'Unnamed: 13'],
      dtype='object')

#renaming each column of customer demographic

In [19]:
df.rename(columns={"Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only. " : "customer_id"},inplace=True)

df.rename(columns={"Unnamed: 1":"fname",
                   "Unnamed: 2":"lname",
                   "Unnamed: 3": "gender",
                   "Unnamed: 4":"3y_bike_purchases",
                   "Unnamed: 5":"DOB",
                   "Unnamed: 6":"JT"},inplace=True)

df.rename(columns={"Unnamed: 7":"Category",
                   "Unnamed: 8":"wealth_segment",
                   "Unnamed: 9":"D_Indicator",
                   "Unnamed: 10":"default",
                   "Unnamed: 11":"owns_car",
                   "Unnamed: 12":"tencure",
                   "Unnamed: 13":"age"},inplace=True)
df=df.iloc[1:]
df

     customer_id           fname      lname  ... owns_car tencure      age
2              2             Eli    Bockman  ...      Yes      16  40.9898
3              3           Arlin     Dearle  ...      Yes      15   67.896
4              4          Talbot        NaN  ...       No       7  60.1951
5              5  Sheila-kathryn     Calton  ...      Yes       8  44.5866
6              6            Curr  Duckhouse  ...      Yes      13  55.2416
...          ...             ...        ...  ...      ...     ...      ...
3996        3996         Rosalia   Halgarth  ...       No      19  46.3457
3997        3997          Blanch     Nisuis  ...      Yes       1  20.4196
3998        3998          Sarene    Woolley  ...       No     NaN  121.953
3999        3999       Patrizius        NaN  ...      Yes      10  48.1376
4000        4000           Kippy    Oldland  ...       No      11  30.1047

[3999 rows x 14 columns]

In [20]:
df.isnull().sum()

customer_id            0
fname                  0
lname                125
gender                 0
3y_bike_purchases      0
DOB                   87
JT                   506
Category             656
wealth_segment         0
D_Indicator            0
default              302
owns_car               0
tencure               87
age                    1
dtype: int64

In [21]:
df.describe()

        customer_id fname     lname  ... owns_car  tencure          age
count          3999  3999      3874  ...     3999     3912  3998.000000
unique         3999  3139      3724  ...        2       22  3448.000000
top            4000   Max  Ramsdell  ...      Yes        7   121.953456
freq              1     5         3  ...     2023      235    87.000000

[4 rows x 14 columns]

In [22]:
for i in range(df.shape[0]): 

    if df.age.iloc[i] > 92.0:

        df.age.iloc[i] = 30.0

        

df['age'].describe()

count     3998.0
unique    3448.0
top         30.0
freq        87.0
Name: age, dtype: float64

In [23]:
df

     customer_id           fname      lname  ... owns_car tencure      age
2              2             Eli    Bockman  ...      Yes      16  40.9898
3              3           Arlin     Dearle  ...      Yes      15   67.896
4              4          Talbot        NaN  ...       No       7  60.1951
5              5  Sheila-kathryn     Calton  ...      Yes       8  44.5866
6              6            Curr  Duckhouse  ...      Yes      13  55.2416
...          ...             ...        ...  ...      ...     ...      ...
3996        3996         Rosalia   Halgarth  ...       No      19  46.3457
3997        3997          Blanch     Nisuis  ...      Yes       1  20.4196
3998        3998          Sarene    Woolley  ...       No     NaN       30
3999        3999       Patrizius        NaN  ...      Yes      10  48.1376
4000        4000           Kippy    Oldland  ...       No      11  30.1047

[3999 rows x 14 columns]

In [30]:
df['age']=df.age.apply(np.round)

In [31]:
df

     customer_id           fname      lname  ... owns_car tencure   age
2              2             Eli    Bockman  ...      Yes      16  41.0
3              3           Arlin     Dearle  ...      Yes      15  68.0
4              4          Talbot        NaN  ...       No       7  60.0
5              5  Sheila-kathryn     Calton  ...      Yes       8  45.0
6              6            Curr  Duckhouse  ...      Yes      13  55.0
...          ...             ...        ...  ...      ...     ...   ...
3996        3996         Rosalia   Halgarth  ...       No      19  46.0
3997        3997          Blanch     Nisuis  ...      Yes       1  20.0
3998        3998          Sarene    Woolley  ...       No     NaN  30.0
3999        3999       Patrizius        NaN  ...      Yes      10  48.0
4000        4000           Kippy    Oldland  ...       No      11  30.0

[3999 rows x 14 columns]

In [32]:
df.shape

(3999, 14)

In [33]:
df = df.drop_duplicates('customer_id',keep='first')

In [34]:
df.shape

(3999, 14)

In [35]:
df.isnull().sum()

customer_id            0
fname                  0
lname                125
gender                 0
3y_bike_purchases      0
DOB                   87
JT                   506
Category             656
wealth_segment         0
D_Indicator            0
default              302
owns_car               0
tencure               87
age                    1
dtype: int64

In [38]:
#missing values
df['lname'].value_counts()

Ramsdell     3
Pristnor     3
Beefon       2
Tumber       2
Hammant      2
            ..
Smartman     1
Tantrum      1
Lindroos     1
Shotboult    1
Ordish       1
Name: lname, Length: 3724, dtype: int64

In [39]:
df['JT'].value_counts()

Business Systems Development Analyst    45
Tax Accountant                          44
Social Worker                           44
Internal Auditor                        42
Recruiting Manager                      41
                                        ..
Geologist II                             4
Research Assistant III                   3
Health Coach I                           3
Health Coach III                         3
Developer I                              1
Name: JT, Length: 195, dtype: int64

In [40]:
df['Category'].value_counts()

Manufacturing         799
Financial Services    774
Health                601
Retail                358
Property              267
IT                    223
Entertainment         136
Argiculture           113
Telecommunications     72
Name: Category, dtype: int64

In [41]:
#missing value treatment
df['lname'].fillna('Ramsdell',inplace=True)
df['JT'].fillna('Business Systems Development Analyst ',inplace=True)
df['Category'].fillna('Manufacturing',inplace=True)
df['tencure'].fillna(df['tencure'].mean(),inplace=True)

#deleting the missing values in remaining variables

df=df.dropna()

In [42]:
df.isnull().sum()

customer_id          0
fname                0
lname                0
gender               0
3y_bike_purchases    0
DOB                  0
JT                   0
Category             0
wealth_segment       0
D_Indicator          0
default              0
owns_car             0
tencure              0
age                  0
dtype: int64

In [46]:
#droppingirrelavent columns

df=df.drop(['DOB'],axis=1)

In [48]:
df=df.drop(['D_Indicator'],axis=1)

In [50]:
df

               fname      lname  gender  ... owns_car tencure   age
2                Eli    Bockman    Male  ...      Yes    16.0  41.0
3              Arlin     Dearle    Male  ...      Yes    15.0  68.0
4             Talbot   Ramsdell    Male  ...       No     7.0  60.0
5     Sheila-kathryn     Calton  Female  ...      Yes     8.0  45.0
6               Curr  Duckhouse    Male  ...      Yes    13.0  55.0
...              ...        ...     ...  ...      ...     ...   ...
3995           Rusty     Iapico    Male  ...      Yes    14.0  46.0
3996         Rosalia   Halgarth  Female  ...       No    19.0  46.0
3997          Blanch     Nisuis  Female  ...      Yes     1.0  20.0
3999       Patrizius   Ramsdell    Male  ...      Yes    10.0  48.0
4000           Kippy    Oldland    Male  ...       No    11.0  30.0

[3697 rows x 10 columns]

In [51]:
df['gender']=df['gender'].map({'Male':0,'Female':1})

In [52]:
df['owns_car']=df['owns_car'].map({'Yes':1,'No':0})

In [53]:
df

               fname      lname  gender  ... owns_car tencure   age
2                Eli    Bockman     0.0  ...        1    16.0  41.0
3              Arlin     Dearle     0.0  ...        1    15.0  68.0
4             Talbot   Ramsdell     0.0  ...        0     7.0  60.0
5     Sheila-kathryn     Calton     1.0  ...        1     8.0  45.0
6               Curr  Duckhouse     0.0  ...        1    13.0  55.0
...              ...        ...     ...  ...      ...     ...   ...
3995           Rusty     Iapico     0.0  ...        1    14.0  46.0
3996         Rosalia   Halgarth     1.0  ...        0    19.0  46.0
3997          Blanch     Nisuis     1.0  ...        1     1.0  20.0
3999       Patrizius   Ramsdell     0.0  ...        1    10.0  48.0
4000           Kippy    Oldland     0.0  ...        0    11.0  30.0

[3697 rows x 10 columns]

In [55]:
df

               fname      lname  gender  ... owns_car tencure   age
2                Eli    Bockman     0.0  ...        1    16.0  41.0
3              Arlin     Dearle     0.0  ...        1    15.0  68.0
4             Talbot   Ramsdell     0.0  ...        0     7.0  60.0
5     Sheila-kathryn     Calton     1.0  ...        1     8.0  45.0
6               Curr  Duckhouse     0.0  ...        1    13.0  55.0
...              ...        ...     ...  ...      ...     ...   ...
3995           Rusty     Iapico     0.0  ...        1    14.0  46.0
3996         Rosalia   Halgarth     1.0  ...        0    19.0  46.0
3997          Blanch     Nisuis     1.0  ...        1     1.0  20.0
3999       Patrizius   Ramsdell     0.0  ...        1    10.0  48.0
4000           Kippy    Oldland     0.0  ...        0    11.0  30.0

[3697 rows x 10 columns]