In [1]:
import numpy as np
import pandas as pd
from sklearn import preprocessing

In [23]:
data = open('/content/drive/MyDrive/demokpmg.xlsx')
df = pd.ExcelFile('/content/drive/MyDrive/demokpmg.xlsx')
df1 = pd.read_excel(df,'CustomerDemographic')
df2=pd.read_excel(df,'CustomerAddress')
r = pd.concat([df1,df2], axis=1, join='inner')
r

     Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ...          Unnamed: 5
0                                           customer_id                                                                                                                             ...  property_valuation
1                                                     1                                                                                                                             ...                  10
2                                                     2                                                                                                                             ...                  10
3                                                     3                                                                                                                             ...                   9
4                                                     4                                                                                                                             ...                   4
...                                                 ...                                                                                                                             ...                 ...
3995                                               3995                                                                                                                             ...                   3
3996                                               3996                                                                                                                             ...                   6
3997                                               3997                                                                                                                             ...                  10
3998                                               3998                                                                                                                             ...                   7
3999                                               3999                                                                                                                             ...                   7

[4000 rows x 19 columns]

In [18]:
frames = [df1, df2]
  
result = pd.concat(frames)
display(result)

     Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ... Unnamed: 12
0                                           customer_id                                                                                                                             ...      tenure
1                                                     1                                                                                                                             ...          11
2                                                     2                                                                                                                             ...          16
3                                                     3                                                                                                                             ...          15
4                                                     4                                                                                                                             ...           7
...                                                 ...                                                                                                                             ...         ...
3995                                               3999                                                                                                                             ...         NaN
3996                                               4000                                                                                                                             ...         NaN
3997                                               4001                                                                                                                             ...         NaN
3998                                               4002                                                                                                                             ...         NaN
3999                                               4003                                                                                                                             ...         NaN

[8001 rows x 13 columns]

In [12]:
df.rename(columns={'Column10':'Price'})

      Note: The data and information in this document is reflective of a hypothetical situation and client. This document is to be used for KPMG Virtual Internship purposes only.   ...                 Column12
0                                         transaction_id                                                                                                                             ...  product_first_sold_date
1                                                      1                                                                                                                             ...                    41245
2                                                      2                                                                                                                             ...                    41701
3                                                      3                                                                                                                             ...                    36361
4                                                      4                                                                                                                             ...                    36145
...                                                  ...                                                                                                                             ...                      ...
19996                                              19996                                                                                                                             ...                    37823
19997                                              19997                                                                                                                             ...                    35560
19998                                              19998                                                                                                                             ...                    40410
19999                                              19999                                                                                                                             ...                    38216
20000                                              20000                                                                                                                             ...                    36334

[20001 rows x 13 columns]

In [14]:
df['Price'] = preprocessing.scale(df['Price'])

KeyError: ignored